body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  height: 1350px;
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  display: flex;
  justify-content: space-between;
}

.left {
  width: 25%;
  padding: 20px;
  background-color: #3F6592;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: white;
}

.right {
  width: 75%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #333;
}

.profile-picture {
  border-radius: 100px;
  width: auto; 
  max-width: 220px; 
  height: auto; 
  margin-left: 50%; 
  transform: translateX(-50%); 
}

.info-block {
  margin-bottom: 20px; 
}

.info-block h4 {
  margin: 0; 
}

.info-block p {
  margin: 0;
  font-size: 1em; 
}

.text-left {
  float: right;
  font-style: italic;
  color: white;
  font-size: 1em; 
}

.personal-info {
  margin-bottom: 20px;
  margin: 0;
  padding: 10px;
  font-size: 1em; 
}

.languages {
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 1em; 
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}
.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  display: inline;
  margin-right: 20px;
}
.menu{
  text-decoration: none;
}


.work-dates, .course-dates {
  float: right;
  font-style: italic;
  color: #666;
  font-size: 0.9em; 
}

.btn{
  display: block;
  width: 300px;
  height: 50px;
  border: 1px solid #000;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.btn:hover {
  background: #3F6592;
  color: #fff;
}