body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    /*Загальні*/
.main-stor {
    color: white !important;
}

.serv-btn:hover, .book-btn:hover {
    background-color: #E9C664;
    color: white;
}

    /*Головна*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #181818;
    color: #f1f1ed;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
    box-sizing: border-box;
}

nav.scrolled {
    position: fixed;
    top: 0;
    background-color: #333333;
    z-index: 1000;
    width: 100%;
}

.burger-menu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    color: #E9C664;
}

.nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 62px;
    left: 0;
    width: 100%;
}

.nav-links a {
    text-decoration: none;
    color: #979797;
    padding: 25px 20px;
}

.nav-links a:hover {
    color: white;
}

.book-btn {
    cursor: pointer;
    padding: 10px 20px;
    border: 2px solid #E9C664;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-links.open {
    display: flex;
    background-image: url("../img/Hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
}

.back-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("../img/Hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0 30px;
}

.back-main {
    color: white;
    text-align: center;
}

.logotype {
    width: 100%;
    max-width: 860px;
    height: auto;
}

    /*Послуги*/

.services-section {
    background-image: url("../img/Hero2.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.services h2 {
    font-weight: 400;
    font-size: 10px;
    color: #E9C664;
    text-transform: uppercase;
    margin: 0;
}

.services h3 {
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0;
}

.services-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    color: white;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: 2px solid #E9C664;
    height: 337px;
    max-width: 337px;
}

.service-item h4 {
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.service-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.serv-btn {
    padding: 15px 20px;
    border: 2px solid #E9C664;
    text-transform: uppercase;
    color: #E9C664;
    font-weight: bold;
    text-decoration: none;
}

    /*Результати*/

.features-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
    background: #212121;
    color: white;
}

.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    gap: 35px;
}

.feature-number {
    font-family: 'Abril Fatface';
    font-weight: 400;
    font-size: 70px;
    line-height: 94px;
    letter-spacing: 0.05em;
    color: #E9C664;
}
.feature-content {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

    /*Знижка*/

.discount-section {
    display: flex;
    flex-direction: column;
    padding: 50px 30px;
    gap: 50px;
    background: #E9C664;
}

.discount-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
}

.discount-title {
    text-transform: uppercase;
    font-size: 28px;
    margin: 0;
}

.discount-description {
    font-size: 18px;
    margin: 0;
}

.book-now-btn {
    display: flex;
    justify-content: center;
    color: #E9C664;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 20px;
    background: #000000;
    max-width: 270px;
    font-weight: 600;
    font-size: 16px;
}

.book-now-btn:hover {
    color: white;
    background: #000000;
}

.discount-image img {
    max-width: 100%;
    height: auto;
    position: static;
}

    /*Відгуки*/

.testimonials-section {
    position: relative;
    text-align: center;
    padding: 50px 20px;
    background-color: #fff;
    z-index: 100;
}

.testimonials-section h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #E9C664;
    text-transform: uppercase;
    margin: 0;
}

.testimonials-section h3 {
    font-weight: 400;
    font-size: 50px;
    line-height: 67px;
    letter-spacing: 0.05em;
    color: #000000;
    text-transform: uppercase;
}

.testimonials-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.testimonial-card {
    width: 100%;
    max-width: 300px;
    text-align: center;
}

.testimonial-image {
    width: 98px;
    height: 98px;
    margin-bottom: 15px;
}

.testimonial-text {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.client-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #E9C664;
    text-transform: uppercase;
}

    /*Бренди*/

.brands-section {
    text-align: center;
    padding: 50px 20px;
    background-color: #212121;
    color: white;
}

.brands-text h2 {
    font-size: 28px;
    margin: 0;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.brands-text p {
    margin: 10px 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.divider {
    background-color: #E9C664;
    height: 2px;
    margin: 30px 0;
}

.brands-image {
    display: flex;
    justify-content: center;
}

.brands-photo {
    max-width: 100%;
    height: auto;
}

    /*Футер*/

footer {
    padding: 50px 20px;
    text-align: center;
}

.footer-content h2 {
    font-size: 28px;
    margin: 0 0 20px;
    text-transform: uppercase;
}

.footer-content p {
    font-size: 16px;
    margin: 0 0 30px;
}

.footer-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.footer-block {
    padding: 20px;
    width: 200px;
    text-align: center;
}

.footer-block h4 {
    font-size: 18px;
    margin: 10px 0;
    text-transform: uppercase;
}

.footer-block p {
    font-size: 14px;
    margin: 0;
}

.footer-divider {
    background-color: #E9C664;
    height: 2px;
    margin: 30px 0;
}

.copyright {
    font-size: 14px;
    margin: 0;
}

@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }

    nav {
        padding: 20px 70px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        position: static;

    }

    .nav-links a {
        padding: 0 15px;
    }

    /*Послуги*/

    .services {
        padding: 50px 0;
    }

    .services-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .services h2 {
        font-size: 19px;
    }

    .services h3 {
        font-size: 50px;
    }

    /*Результати*/

    .features-section {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .feature-item {
        margin: 0;
    }

    /*Знижки*/

    .discount-section {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0 30px 30px;
        max-height: 530px;
        background: linear-gradient(to bottom,  #212121 0%, #212121 15%, #E9C664 15%, #E9C664 100%);
        margin: 0;
    }

    .discount-text {
        gap: 35px;
        margin-top: 50px;
    }

    .discount-title{
        font-size: 70px;
    }

    .discount-description{
        max-width: 540px;
    }

    .discount-image img{
        margin-bottom: -80px;
    }

    .book-now-btn {
        font-size: 20px;
    }

    /*Відгуки*/

    .testimonials-section {
        padding: 60px 70px;
    }

    .testimonials-grid {
        flex-direction: row;
        justify-content: space-between;
    }

    /*Бренди*/

    .brands-section {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        height: 568px;
    }

    .divider {
        width: 2px;
        height: 85%;
        margin: 0;
    }

    .brands-text h2 {
        font-size: 45px;
        line-height: 61px;
    }

    .brands-text {
        max-width: 500px;
        text-align: left;
    }

    /*Футер*/

    .footer-blocks {
        justify-content: center;
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-divider {
        background-color: #E9C664;
        height: 2px;
        width: 90%;
        margin: 30px 0;
    }

    .footer-content h2 {
        font-weight: 400;
        font-size: 50px;
        line-height: 67px;
        letter-spacing: 0.05em;
    }

    .footer-content p {
        font-size: 16px;
        max-width: 854px;
        font-weight: 400;
        line-height: 19px;
    }

    .copyright {
        font-size: 17px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    background-color: #F1F1ED;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #E9C664;
    width: 80%;
    max-width: 500px;
    border-radius: 5px;
}

.close {
    color: #E9C664;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    padding: 10px;
    background-color: #E9C664;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

form button:hover {
    background-color: #d5b85b;
}

    /*Сторінка послуг*/

.main-head {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-image: url("../img/Hero3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 380px;
}

.main-head h1 {
    font-weight: 400;
    font-size: 40px;
    line-height: 94px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.services-back {
    background-image: url("../img/Services.png");
}

.services-price {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background: #212121;
    color: white;
    justify-content: center;
    align-items: center;
}

.service-card {
    padding: 30px;
    max-width: 434px;
}

.card-text {
    display: flex;
    align-items: center;
    gap: 10px;
}

.card-text p {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

.line {
    width: 100%;
    height: 0;
    border: 1px solid #E9C664;
}

.service-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

.serv-discount {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E9C664;
    color: black;
}

.discount-img img{
    max-width: 100%;
    height: auto;
    margin-bottom: -4px;
}

.serv-discount .discount-text {
    padding: 40px;
}

.discount-news {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0;
}

.blog-section {
    text-align: center;
    padding: 40px 10px;
    background: #212121;
    color: white;
}

.blog-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #E9C664;
    text-transform: uppercase;
}

.blog-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.05em;
}

.blog-cards-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}


.blog-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.blog-card {
    background: black;
    text-align: left;
    max-width: 306px;
}

.blog-image {
    width: 100%;
    height: 270px;
}

.card-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em;
    padding: 0 20px;
}

.card-text-news {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding: 0 20px;
}

.read-more-btn {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #E9C664;
    text-transform: uppercase;
    padding: 0 20px 20px;
}

.read-more-btn:hover {
    text-decoration: underline;
}


@media (min-width: 768px) {
    .grid-big {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    .service-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .serv-discount {
        flex-direction: row;
    }

    .services-price {
        padding: 30px 0 100px;
    }

    .blog-section {
        padding: 70px;
    }

    .blog-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #E9C664;
        text-transform: uppercase;
    }

    .blog-subtitle {
        font-size: 60px;
        line-height: 81px;
        margin: 30px;
    }

    .blog-cards-two {
        flex-direction: row;
    }
}


    /*Сторінка про нас*/

.team-section {
    text-align: center;
    padding: 40px;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    color: #E9C664;
    text-transform: uppercase;
    line-height: 24px;
}

.team-subtitle {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
    letter-spacing: 0.05em;
}

.team-cards {
    color: white;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-items: center;
    text-transform: uppercase;
}

.team-card {
    background: #212121;
    overflow: hidden;
    text-align: center;
    max-width: 410px;
    padding: 0 0 30px 0;
}

.team-card img {
    width: 100%;
    height: auto;
}

.team-name {
    margin: 15px 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.05em;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 15px 0;
}

.social-icons a {
    color: #E9C664;
    font-size: 15px;
}

.order-btn {
    display: inline-block;
    max-width: 122px;
    text-decoration: none;
    color: #E9C664;
    padding: 10px 20px;
    border: 2px solid #E9C664;
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
}

.order-btn:hover {
    background-color: #E9C664;
    color: #000;
}

@media (min-width: 768px) {
    .team-cards {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }
}


.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    display: flex;
    justify-content: center;
}

.swiper {
    width: 100%;
    max-width: 1300px;
}

.swiper-button-next, .swiper-button-prev {
    color: #E9C664 !important;
}